<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopTweets.by</title>
    <link rel="stylesheet" href="static/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36685415-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-36685415-3');
    </script>
  </head>

  <body>
    <h1>TopTweets.by</h1>
    <p>
      Head to toptweets.by/[username] to see that user's popular tweets.
    </p>
    <p>
      I always used to forget the Twitter search syntax to get a user's most-liked tweets, 
      so I bought this domain name off a sketchy Belarusian registrar so that I don't have to remember anymore!
    </p>
    <h2>Try it:</h2>
    <form method="POST">
      <input type="text" name="screen_name" placeholder="Twitter username"/>
      <input type="submit"/>
    </form>

    <p>
      Or here's an example:
      <a href="/michaelrbock" target="_blank">toptweets.by/@michaelrbock</a>
    </p>

    <footer>
      <p>
        Made with ☕ by 
        <a href="https://michaelrbock.com" target="_blank">Michael R. Bock</a>
      </p>
    </footer>
  </body>
</html>
